* {
  margin: 0px;
  background-image: url(imagens/fundo-menusuperior.png);
  color: white;
  font-family: 'Inter', sans-serif;
}

#logo {
  margin-top: 50px;
  margin-left: 50px;
}

#titulo-menusuperior {
  margin-left: 150px;
  margin-top: 50px;
}

#texto-menusuperior {
  margin-left: 150px;
  margin-top: 35px;
}